<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bc.auto.dao.BCChannelOrgPeerMapper">
    <resultMap type="org.bc.auto.model.entity.BCChannelOrgPeer" id="BaseResultMap">
        <id property="orgId" jdbcType="VARCHAR" column="org_id"/>
        <id property="channelId" jdbcType="VARCHAR" column="channel_id"/>
        <id property="peerId" jdbcType="VARCHAR" column="peer_id"/>
    </resultMap>

    <sql id="Base_Column_List">
        channel_id,org_id,peer_id
    </sql>

    <insert id="insertChannelOrgPeer">
        INSERT INTO bc_channel_org_peer (channel_id,org_id,peer_id)
        VALUES
        <foreach collection ="list" item="bcChannelOrg" separator =",">
            (#{bcChannelOrg.channelId},#{bcChannelOrg.orgId},#{bcChannelOrg.peerId})
        </foreach >
    </insert>
</mapper>