<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bc.auto.dao.BCClusterInfoMapper">
    <resultMap type="org.bc.auto.model.entity.BCClusterInfo" id="BaseResultMap">
        <id property="clusterId" jdbcType="VARCHAR" column="cluster_id"/>
        <id property="ordererCount" jdbcType="INTEGER" column="orderer_count"/>
        <id property="clusterConsensusType" jdbcType="INTEGER" column="cluster_consensus_type"/>
        <id property="clusterVersion" jdbcType="VARCHAR" column="cluster_version"/>
    </resultMap>

    <sql id="Base_Column_List">
        cluster_id,orderer_count,cluster_consensus_type,cluster_version
    </sql>

    <insert id="insertBCClusterInfo" parameterType="org.bc.auto.model.entity.BCClusterInfo">
        INSERT INTO bc_cluster_info (cluster_id,orderer_count,cluster_consensus_type,cluster_version)
        VALUES (#{clusterId},#{ordererCount},#{clusterConsensusType},#{clusterVersion});
    </insert>

    <select id="getBCClusterInfoByClusterId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from bc_cluster_info WHERE cluster_id=#{clusterId};
    </select>

</mapper>