<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bc.auto.dao.BCOrgMapper">
    <resultMap type="org.bc.auto.model.entity.BCOrg" id="BaseResultMap">
        <id property="id" jdbcType="VARCHAR" column="id"/>
        <id property="orgName" jdbcType="VARCHAR" column="org_name"/>
        <id property="orgMspId" jdbcType="VARCHAR" column="org_msp_id"/>
        <id property="orgIsTls" jdbcType="INTEGER" column="org_is_tls"/>
        <id property="orgStatus" jdbcType="INTEGER" column="org_status"/>
        <id property="orgType" jdbcType="INTEGER" column="org_type"/>
        <id property="createTime" jdbcType="BIGINT" column="create_time"/>
        <id property="certId" jdbcType="VARCHAR" column="cert_id"/>
        <id property="clusterId" jdbcType="VARCHAR" column="cluster_id"/>
        <id property="clusterName" jdbcType="VARCHAR" column="cluster_name"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,org_name,org_msp_id,org_is_tls,org_status,org_type,create_time,cert_id,cluster_id,cluster_name
    </sql>

    <insert id="insertOrg" parameterType="org.bc.auto.model.entity.BCOrg">
        INSERT INTO bc_org (id,org_name,org_msp_id,org_is_tls,org_status,org_type,create_time,cert_id,cluster_id,cluster_name)
         VALUES (#{id},#{orgName},#{orgMspId},#{orgIsTls},#{orgStatus},#{orgType},#{createTime},#{certId},#{clusterId},#{clusterName});
    </insert>

    <select id="getAllOrg" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from bc_org;
    </select>

    <select id="getOrgByOrgId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from bc_org where id = #{orgId};
    </select>

    <select id="getOrgByOrgName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from bc_org where org_name = #{orgName};
    </select>

    <select id="getOrgByOrgIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from bc_org where
          org_status = 1 AND id IN
          <foreach collection ="list" item="orgId" open="(" close=")" separator =",">
            #{orgId}
          </foreach >
    </select>

    <select id="getOrgByOrgNameAndClusterId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from bc_org where org_name = #{orgName} and cluster_id=#{clusterId};
    </select>

</mapper>